
/*основные цвета
цвет основного текста #757575;
цвет заголовков #212121
цвет акцента #2196F3 
цвет футера и героя(фон) #2F303A;
освновной фон белый цвет #ffffff; 
фон наша команда #F5F4FA;*/
:root{
 --text-color:#757575;
 --titel-text-color:#212121;
 --accent-color:#2196F3;
 --background-color:#FFFFFF;
 --background-second-color:#f5f4fa;
 --background-footer-color:#2f303a;
 --bacground-icon-color:#AFB1B8;
 --bacgoround-social-color:rgba(255, 255, 255, 0.1);
 --background-modal-color:rgba(0, 0, 0, 0.2);
 --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
/*СБРАСЫВАЕМ ТеГИ*/
/*основы для body*/
body{
    font-family:'Roboto',sans-serif;
   
    color: var(--text-color);
    background-color: var(--background-color);
}
/*убрать точки с li*/
ul {
    list-style-type: none;
    margin: 0px;
    padding:  0px;
    
}
/*Выравнивание заголовков*/

h1{
margin: 0px;
}
h2{
    margin: 0px;
}
h3{
    margin: 0px;
}
p{
    margin: 0px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
     
}
/*Сброс курсива для адресса*/
address{
    font-style: normal;
}
/*Сброс ниженего подчеркивания с ссылок*/
.link{
    text-decoration: none;
}



/*Header*/
.header{
    display:flex;
    flex-direction:row;
    border-bottom: 1px solid #ECECEC;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.nav-main{
    display: flex;
    align-items: center;
}

/*Логотип*/
.logoweb{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: var(--accent-color);

    margin-right: 93px;
}
.logoweb-header{
   
    color: var(--titel-text-color);
}

/*navigation*/
.site-nav{
    display: flex;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
    }
.nav-link{
position: relative;

display: block;
padding-top: 32px;
padding-bottom: 32px;

font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;  
text-decoration: none;

color:var(--titel-text-color) ;

}
.nav-link::after{
    content: "";
   
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
   
    background-color: var(--accent-color);
    border-radius: 2px;

    opacity: 0;
    transition: opacity 250ms var(--timing-function);

}
.nav-link:hover {
    color: var(--accent-color);
    }
.nav-link:hover::after { 
    opacity: 1;
}

.nav-link:focus{
    color: var(--accent-color);
}
/*contacts*/
.contacts{
    display: flex;
    margin-left: auto;
}
.contacts .item:not(:last-child){
 margin-right: 50px;
}
.contacts-link{
   display: flex;
   align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color);
    transition: color 250ms var(--timing-function);
}

.contacts-link:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.contacts-link:focus {
    color: var(--accent-color);
}
.mail-icon {
    height: 12px;
    margin-right: 10px;
    fill: currentColor}

.phone-icon {
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}


/*hero*/
.hero{
    text-align: center;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 200px;
    padding-bottom: 200px;
    
    background-image:linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),url(../images/title/hero.jpg);
    background-color: var(--background-footer-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
     
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 0px;
    
    color: var(--background-color);
}
.order-service{
    justify-content: center;
    padding: 10px 32px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--background-color);
    background-color: var(--accent-color);
}
.backdrop{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--background-modal-color);
    z-index: 10;

}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    display:flex;
    justify-content: right;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 528px;
    height: 581px;

    background: var(--background-color);
    box-shadow: 
       0px 1px 3px rgba(0, 0, 0, 0.12), 
       0px 1px 1px rgba(0, 0, 0, 0.14),
       0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.button-close{
    position: absolute;
    margin-top: 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--background-color);
    border-radius: 50%;
}
/*Секции*/
/*Особенности */

.section{
   
    padding: 94px 0px;
}
.peculiarities{
    display: flex;
}
.peculiarities .item:not(:last-child) {
    margin-right: 30px;
}

.section .item:not(:last-child){
    margin-right: 30px;
}
.container-icon{
       display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        
        width: 270px;
        height: 120px;
        
        padding-left: auto;
        padding-right: auto;
        margin-bottom: 30px;
       
        background-color:var(--background-second-color);
        border-radius: 4px;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--titel-text-color);
    margin-bottom: 50px;
   
}
.peculiarities-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style: none;
    
    color: var(--titel-text-color);
    
    margin-top: 0px;
    margin-bottom: 10px;
}
/*Скрытие заголовка*/
.visually-hidden {
    position: fixed;
    transform: scale(0);
}
.peculiaritiles-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    margin-top: 0px;
}
/*Чем мы занимаемся*/
.gallery{
    padding-top: 0px;
}
.work{
    display: flex;
    padding-left: 0px;
    margin: 0;

}

.work .item{
    margin-top: 0px;
    position: relative;
}
.work .item:not(:last-child){
    margin-right: 30px;
}
.work-box{
    display: flex;

}
.work-box ::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27%;
      
    background-color: rgba(47, 48, 58, 0.8);
     
}
.work-card{
    display: flex;
}
.text-work{
    position: absolute;
    bottom:27px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
   
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
    
     color: var(--background-color);
     
}


/*Наша команада*/
.team{
    display: flex;
    
}
.team .item{
   background-color:var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team .item:not(:last-child){
    margin-right: 30px;
}
.team{
    background-color:var(--background-second-color);
   
    
}
.section-team .container{
    margin-bottom: 0px;
}
.box-team{
padding: 30px 0px;
}
.team .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--titel-text-color);
    margin-bottom: 10px;
    
}
.team .team-position{
    font-size: 16px;
    line-height: 1.18;

    margin-bottom: 16px;
   
    letter-spacing: 0.03em;
    text-align: center
}
/*Social icons(team) */
.social{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.social-item:not(:last-child){
    margin-right: 10px;
   
}
.social-link{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    width: 44px;
    height: 44px;
   
    background: #FFFFFF;
    border-radius: 50px;

    transition: 
    background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.social-link:hover{
  
    background-color: #2196F3;
}
.social-link:focus{
    background-color: #2196F3;
}
.social-icon {
    fill:var(--bacground-icon-color);
}
.social-link:hover .social-icon{
    fill: var(--background-color);
}
.social-link:focus .social-icon{
    fill: var(--background-color);
}

/*   Клиенты   */
.clients-list{
    display: flex;
    justify-items: center;
    text-align: center;
}
.clients-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
  
}
.clients-item:not(:last-child){
    margin-right: 30px;
}
.clients-item .clients-link:hover{
    fill: var(--accent-color);
    border-color: var(--accent-color);
}
.clients-item .clients-link:focus{
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
  
        width: 170px;
        height: 92px;
         
        fill: var(--bacground-icon-color);
    
        border: 1px solid var(--bacground-icon-color);
        border-radius: 4px;

        transition:  fill 250ms var(--timing-function);
}


/*Footer*/
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-footer-color);
}
.footer .container{
    margin-bottom: 0px;
}
.footer-adress{
    margin-right: 70px;
}
.logoweb-footer {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--accent-color);
    margin-bottom: 20px;
}

.footer-white {
    color: var(--background-color);
}
.adress-footer{
    color: var(--background-color);
   
}
 
.contacts-footer .item.item:not(:last-child){
    margin-bottom: 9px;
}

.footer-block{
    display: flex;
    align-items: baseline;
}
.socials-footer{
    display: block;

}
.social-list{
    display: flex;
    text-align: center;
    justify-items: center;
}
.tittle-social{
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    margin-bottom: 20px;
    
    color: var(--background-color);
}

.footer-icon{
    fill: var(--background-color);
}


.social-item .social-link{
    
    background-color:var(--bacgoround-social-color);
    
    transition: background-color 250ms var(--timing-function);
}
.social-item .social-link:hover{
    background-color: var(--accent-color);
}
.social-item .social-link:focus{
    background-color: var(--accent-color);
}

/*!!! ПОРТФОЛИО !!!*/

/*Фильры*/
.filter-main{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-main .item.item:not(:last-child){
    margin-right: 8px;
}
.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    
    padding-top: 6px;
    padding-left: 22px;
    padding-bottom: 6px;
    padding-right: 22px;

    border-radius: 4px;
    border: none;
    
    color: var(--titel-text-color);
    background-color: var(--background-second-color);
    border-color:#F5F4FA ;

    transition: 
        background-color 250ms var(--timing-function),
        color 250ms var(--timing-function);
   
    }
    .filter-btn:hover{
        color: var(--background-color);
        background-color: var(--accent-color);
        box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
    }
    .filter-btn:focus {
        color: var(--background-color);
        background-color: var(--accent-color);
        box-shadow:
                0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
    }
    /*Галерея*/
    .project{
        display: flex;
        flex-wrap: wrap;
    
                
    }
    .project .item{
        width: 370px;

        margin-right:  30px; 
        margin-bottom: 30px;
        }

    .project .item:nth-child(3n){
        margin-right: 0px;
    }
    .project .item:nth-last-child(-n +3){
        margin-bottom: 0px;
    }
        .portfolio-box{
            display: block;
        
        }


    .portfolio-box:hover{
        border: 1px solid #EEEEEE;
            box-shadow:
                0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    .portfolio-box:focus{
    border: 1px solid #EEEEEE;
        box-shadow:
            0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    .project-card{
        position: relative;
        overflow: hidden;
      
    }
    .product-overley{

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        
        transform: translateY(105%);
        transition: transform 250ms var(--timing-function);
    }
    .project-card:hover .product-overley{
        transform: translateY(0%);
    }
    .card-text{
        position: absolute;
           
        display: flex;
        width: 100%;
        height: 100%;

       align-items: center;
        text-align: center;
       justify-content: center;
       
       
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        
        color: var(--background-color);
    
    }

    .project-titel{
        padding: 20px 24px;
         border: 1px solid #EEEEEE;
         border-top: none;
        
    }
    .portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
   
    letter-spacing: 0.06em;
    color:var(--titel-text-color);
    margin-bottom: 4px;
     
    }
    .portfolio-text{
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;
        list-style: none;
    }