/*основы для body*/
body{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    
    color: #757575;
    background-color: #ffffff;
}
/*Логотип*/
.logoweb{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logoweb-header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logoweb-footer{
    color: #ffffff;

}
/*navifation*/
.navigation .link{
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;  

color:#212121 ;
}
.navigation a:hover,:focus {
    color: #2196F3;
}
.list{
    list-style: none;
}
.contacts a{
    color: #757575;
}
.contacts a:hover{
    color: #2196F3;
}
.contacts a:focus {
    color: #2196F3;
}
/*основные цвета
цвет основного текста #757575;
цвет заголовков #212121
цвет акцента #2196F3 
цвет футера и героя(фон) #2F303A;
освновной фон белый цвет #ffffff; 
фон наша команда #F5F4FA;*/