
/*основные цвета
цвет основного текста #757575;
цвет заголовков #212121
цвет акцента #2196F3 
цвет футера и героя(фон) #2F303A;
освновной фон белый цвет #ffffff; 
фон наша команда #F5F4FA;*/
:root{
 --text-color:#757575;
 --titel-text-color:#212121;
 --accent-color:#2196F3;
 --background-color:#FFFFFF;
 --background-second-color:#f5f4fa;
 --background-footer-color:#2f303a;
}
/*основы для body*/
body{
    font-family:'Roboto',sans-serif;
   
    color: var(--text-color);
    background-color: var(--background-color);
}
/*убрать точки с li*/
.list {
    list-style-type: none;
    
}


/*Header*/
.header{
    display:flex;
    flex-direction:row;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 94px;
    margin-left: 215px;
    margin-right: 215px;
}


.nav-main{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    border-bottom: 1px solid #ECECEC;
}

/*Логотип*/
.logoweb{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: var(--accent-color);

    padding-left: 30px;

    margin-right: 93px;
}
.logoweb-header{
   
    color: var(--titel-text-color);
}
.logoweb-footer{
    color: var(--background-color);

}
/*navigation*/
.site-nav{
    display: flex;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
    }
.nav-link{
display: block;
padding-top: 32px;
padding-bottom: 32px;

font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;  
text-decoration: none;

color:var(--titel-text-color) ;

}
.nav-link:hover {
    color: var(--accent-color);
}
.nav-link:focus:focus {
    color: var(--accent-color);
}
/*contacts*/
.contacts{
    display: flex;
    margin-left: auto;
}
.contacts .item.item:not(:last-child){
 margin-right: 50px;
}
.contacts-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--text-color);
}


.contacts-link:hover{
    color: var(--accent-color);
}
.contacts-link:focus {
    color: var(--accent-color);
}
/*hero*/
.hero{
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 200px;
        
        padding-bottom: 280px;
   
   
    margin-bottom: 94px;
    background-color: var(--background-footer-color);
    
}

.main-title{
  display: flex;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
     
    padding: 200px, 452px, 280px, 452px;
    margin-bottom: 30px;
    margin-top: 0px;
    
    color: var(--background-color);
}
.order-service{
    justify-content: center;
    padding: 10px 32px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--background-color);
    background-color: var(--accent-color);
}
/*Секции*/
/*Особенности */
.peculiarities{
    display: flex;
}
.peculiarities .item:not(:last-child){
    margin-right: 30px;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--titel-text-color);
    padding-bottom: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.peculiarities-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style: none;
    
    color: var(--titel-text-color);
    
    margin-top: 0px;
    margin-bottom: 10px;
}
.peculiaritiles-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    margin-top: 0px;
}
/*Чем мы занимаемся*/
.work{
    display: flex;
    padding-left: 0px;
    margin: 0;

}

.work .item{
    margin-top: 0px;
}
.work .item:not(:last-child){
    margin-right: 30px;
}


/*Наша команада*/
.team{
    display: flex;
    
}
.team .item{
   background-color:var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team .item:not(:last-child){
    margin-right: 30px;
}
.section-team{
    background-color:var(--background-second-color);
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.section-team .container{
    margin-bottom: 0px;
}
.team-photo{
    margin-bottom: 30px;
}
.team .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--titel-text-color);
    margin-bottom: 10px;
    
}
.team .team-position{
    font-size: 16px;
    line-height: 1.18;
   
    letter-spacing: 0.03em;
    text-align: center
}
/*Footer*/
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-footer-color);
}
.footer .container{
    margin-bottom: 0px;
}
.adress-footer{
    color: var(--background-color);
    font-style: normal;
   
}
.contacts-footer .item.item:not(:last-child){
    margin-bottom: 9px;
}
/*!!! ПОРТФОЛИО !!!*/

/*Фильры*/
.filter-main{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-main .item.item:not(:last-child){
    margin-right: 8px;
}
.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
   
    border-radius: 4px;
    border: none;
    
    color: var(--titel-text-color);
    background-color: var(--background-second-color);
    border-color:#F5F4FA ;
   
    }
    .filter-btn:hover{
        color: var(--background-color);
        background-color: var(--accent-color);
    }
    .filter-btn:focus {
        color: var(--background-color);
        background-color: var(--accent-color);
    }
    /*Галерея*/
    .project{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
    }
    .project .item{
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .project .item:nth-child(3n){
        margin-right: 0px;
    }
    .project .item:nth-last-child(-n +3){
        margin-bottom: 0px;
    }
    .portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
   
    letter-spacing: 0.06em;
        color:var(--titel-text-color)
    }
    .portfolio-text{
        font-size: 16px;
        line-height: 1,88;
        letter-spacing: 0.03em;
    }