/*   Клиенты   */
.clients__list {
    display: flex;
    justify-items: center;
    text-align: center;
}

.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__item .clients__link:hover {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.clients__item .clients__link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    fill: var(--bacground-icon-color);

    border: 1px solid var(--bacground-icon-color);
    border-radius: 4px;

    transition: border-color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
}