/*Комментарий*/
.form-comments {
    display: flex;
    flex-direction: column;
    
    /*width: 448px;*/
    margin-bottom: 20px;
}

.form-comments__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    text-align: left;
    margin-bottom: 4px;
}

.form-comments__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;

    transition: outline-color 25ms var(--timing-function);
    resize: none;
    height: 120px;
}

.form-comments__textarea:focus {
    color: var(--accent-color);
    outline-color: var(--accent-color);
}

.form-comments__textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}