/*Чем мы занимаемся*/
.gallery {
    padding-top: 0px;
}

.gallery-set {
    display: flex;
    padding-left: 0px;
    margin: 0;

    &__item {
        margin-top: 0px;
        position: relative;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__after {
        display: flex;

    }

    &__after::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 27%;

        background-color: rgba(47, 48, 58, 0.8);

    }

    &__text {
        position: absolute;
        bottom: 27px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 2;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: var(--background-color);

    }
}
@media(max-width:$desktop){
.gallery{
    display: none;
}
}