/*hero*/
.hero {
    text-align: center;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/title/hero.jpg);
    background-color: var(--background-footer-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        margin-top: 0px;

        color: var(--background-color);
        
    }


    &__btn {
        justify-content: center;
        padding: 10px 32px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        cursor: pointer;

        border-radius: 4px;
        border-style: hidden;

        color: var(--background-color);
        background-color: var(--accent-color);

    }

}


@media (max-width:$before-tablet){
    .hero{
        &__title {
                font-size: 26px;
            }
    }
}