/*Наша команада*/
.team {
    background-color: var(--background-second-color);

       &__item {
        width: 100%;
            background-color: var(--background-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        }
}

@media (max-width:$before-tablet) {
    .team {
       .team__item{
        width: 100%;
       }
         &__item:not(:last-child) {
        
        margin-bottom: 30px;
           }
     }
    }  
    
        @media (min-width:$tablet) {
            .team {
                &__list {
                    display: flex;
                }
            }
        }
        @media (max-width:$before-desktop) {
            .team {
               &__list{
                flex-wrap: wrap;
                gap: 30px;
               }
               &__item{
                width: calc((100% - 60px) /2);
               }
                }
            }
        
        @media (min-width:$desktop) {
            .team {
                &__item:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }



.section-team .container {
    margin-bottom: 0px;
}
@media (max-width:$before-desktop){
    .team__photo {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            
    
        }
}


.box-card {
    padding: 30px 0px;

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;

        color: var(--titel-text-color);
        margin-bottom: 10px;

    }

    &__position {
        font-size: 16px;
        line-height: 1.18;

        margin-bottom: 16px;

        letter-spacing: 0.03em;
        text-align: center
    }
}


/*Social icons(team) */

.social {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item:not(:last-child) {
        margin-right: 10px;

    }

    &__link {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        width: 44px;
        height: 44px;

        background: #FFFFFF;
        border-radius: 50px;

        transition:
            background-color 250ms var(--timing-function),
            fill 250ms var(--timing-function);
    }

    &__link:hover {
        background-color: #2196F3;
    }

    &__link:focus {
        background-color: #2196F3;
    }

    &__icon {
        fill: var(--bacground-icon-color);
    }

    &__link:hover &__icon {
        fill: var(--background-color);
    }

    &__link:focus &__icon {
        fill: var(--background-color);
    }

}