/*Наша команада*/
.team {
    background-color: var(--background-second-color);
    &__list {
            display: flex;
    
        }
    
       &__item {
            background-color: var(--background-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
    
       &__item:not(:last-child) {
            margin-right: 30px;
        }
}


.section-team .container {
    margin-bottom: 0px;
}

.box-card {
    padding: 30px 0px;

    &__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
            text-align: center;
            letter-spacing: 0.03em;
    
            color: var(--titel-text-color);
            margin-bottom: 10px;
    
        }
    
        &__position {
            font-size: 16px;
            line-height: 1.18;
    
            margin-bottom: 16px;
    
            letter-spacing: 0.03em;
            text-align: center
        }
}


/*Social icons(team) */

.social {
    display: flex;
    justify-content: center;
    align-items: center;

   &__item:not(:last-child) {
            margin-right: 10px;
    
        }
       
       &__link {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
    
            width: 44px;
            height: 44px;
    
            background: #FFFFFF;
            border-radius: 50px;
    
            transition:
                background-color 250ms var(--timing-function),
                fill 250ms var(--timing-function);
        }
    
        &__link:hover {
            background-color: #2196F3;
        }
    
        &__link:focus {
            background-color: #2196F3;
        }
    
        &__icon {
            fill: var(--bacground-icon-color);
        }
    
        &__link:hover &__icon {
            fill: var(--background-color);
        }
    
        &__link:focus &__icon {
            fill: var(--background-color);
        }

}

