/*Форма*/
.form {
    padding: 40px;
}

.form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;

    color: var(--titel-text-color);
}

.form-modal {
    margin-bottom: 30px;
}