/*Общие*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-footer-color);
    &__block {
            display: flex;
            align-items: baseline;
        }
    
    .footer .container {
            margin-bottom: 0px;
        }
    
    &__adress {
            margin-right: 70px;
        }

}