.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-footer-color);

      
}

@media (min-width:$tablet){
    .footer{
        &__block {
                display: flex;
                align-items: baseline;
                flex-wrap: wrap;
                justify-content:space-around;
            }
    }
    
}


.footer .container {
    margin-bottom: 0px;
   
}
@media (max-width:$desktop){
    .footer .container {
              text-align: center;
        }
}
@media (min-width:$desktop) {
    .footer {
        &__adress {
            margin-right: 70px;
        }
    }
}