/*Подписаться на рассылку*/
.form-send {
    margin-left: auto;
    position: relative;
}

.form-send__titel {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
    margin-bottom: 20px;
}

.form-send__input {
    width: 358px;
    height: 48px;
    padding-left: 20px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;


    background-color: rgba(0, 0, 0, 0);
    color: var(--background-color);
}

.form-send__btn {
    position: absolute;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;

    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: hidden;

}

.form-send__btn-text {

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    margin-right: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--background-color);
}