/*СБРАСЫВАЕМ ТеГИ*/

/*основы для body*/
body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    background-color: $background-color;
}

ul{
list-style-type: none;
    margin: 0px;
    padding: 0px;
}
