@media(min-width:$desktop) {
    .section {
        padding: 94px 0px;
    }
}
@media(max-width:$desktop) {
    .section {
        padding: 60px 0px;
    }
}
 .section-title {
     font-weight: 700;
     font-size: 28px;
     line-height: 1.18;
     text-align: center;
     letter-spacing: 0.03em;

     color: var(--titel-text-color);
     margin-bottom: 30px;

 }
 @media(min-width:$desktop) {
     .section-title {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
     }
    }