/*navigation*/
.navigation{


&__list {
    display: flex;
}

&__list &__item:not(:last-child) {
    margin-right: 50px;
}

&__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function);

    color: var(--titel-text-color);

}

 &__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;

    transition: opacity 250ms var(--timing-function);
}

&__ac—Åent {
    color: var(--accent-color);
}

&__link:hover {
    color: var(--accent-color);
}

&__link:focus {
    color: var(--accent-color);
}
}