.header {
    /*display: flex;*/
    flex-direction: row;
    border-bottom: 1px solid #ECECEC;
    position: relative;
}

.nav-main {
    /*display: flex;*/
    align-items: center;
    position: relative;

}
@media(min-width: 768px) {
    .nav-main {
    display: flex;
    }
}
@media(max-width: 767px) {
    .nav-main{
        margin-top: 16px;
        margin-bottom: 16px;
    }
}



