/* перемeнные*/

$text-color:#757575;
$titel-text-color:#212121;
$accent-color:#2196F3;
$background-color:#FFFFFF;
$background-second-color:#f5f4fa;
$background-footer-color:#2f303a;
$bacground-icon-color:#AFB1B8;
$bacgoround-social-color:rgba(255, 255, 255, 0.1);
$background-modal-color:rgba(0, 0, 0, 0.2);
$timing-function:cubic-bezier(0.4, 0, 0.2, 1);


    
