/*Секция  Особенности */
.peculiarities-set {
    display: flex;

    &__item:not(:last-child) {
            margin-right: 30px;
        }
    
       &__container {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
    
            width: 270px;
            height: 120px;
    
            padding-left: auto;
            padding-right: auto;
            margin-bottom: 30px;
    
            background-color: var(--background-second-color);
            border-radius: 4px;
        }
        
        &__title {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            list-style: none;
    
            color: var(--titel-text-color);
    
            margin-top: 0px;
            margin-bottom: 10px;
        }
    
        &__text {
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
    
            margin-top: 0px;
        }
}

